{% extends 'base.html' %}

{% block title %}{{ article.title }} - Saplings.Pro{% endblock %}

{% block content %}
<div class="bg-white p-8 rounded-lg shadow-md">
    <h1 class="text-3xl font-bold text-lime-800 mb-4">{{ article.title }}</h1>
    <p class="text-lime-600">{{ article.description }}</p>
    <div class="mt-6">
        {{ article.content|safe }}
    </div>
    <div class="mt-6">
        {% for image in images %}
        <img src="{{ image.image.url }}" alt="{{ article.title }}" class="w-full h-auto">
        {% endfor %}
    </div>
</div>
{% endblock %}
