{% extends 'base.html' %}

{% block title %}Статьи - Saplings.Pro{% endblock %}

{% block content %}
<div class="bg-white p-8 rounded-lg shadow-md">
    <h1 class="text-3xl font-bold text-lime-800 mb-4">Статьи</h1>
    <div class="space-y-4">
        {% for article in articles %}
        <div class="border p-4 rounded-lg">
            <h2 class="text-xl font-bold text-lime-700">{{ article.title }}</h2>
            <p class="text-lime-600">{{ article.description }}</p>
            <a href="{% url 'article_detail' article.pk %}" class="text-lime-500 hover:text-lime-400">Читать далее</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
